trigger:
- main

pool:
  name: Default
  demands:
  - agent.name -equals test-deneme

variables:
  token: "sqa_d61401827f15434a1621ea98e4a8914a8086f822"

steps:
- script: |
    dotnet sonarscanner begin /k:"movie-project-api" /d:sonar.host.url="http://localhost:9000" /d:sonar.login="sqa_d61401827f15434a1621ea98e4a8914a8086f822"
    dotnet build
  displayName: 'Build'

- script: |
    dotnet sonarscanner end /d:sonar.login="sqa_d61401827f15434a1621ea98e4a8914a8086f822" 
  displayName: 'SonarQube'
  
- powershell: |
    $token = "$(token)"
    $qualityGateStatus = Invoke-RestMethod -Uri "http://localhost:9000/api/qualitygates/project_status?projectKey=movie-project-api" -Headers @{ "Authorization" = "Bearer $token" }
    Write-Output "Quality gate status: $($qualityGateStatus.status)"
    Write-Host $qualityGateStatus
    if ($qualityGateStatus.status -ne "OK") {
        Write-Host "Quality gate check failed: $($qualityGateStatus.status)"
        exit 1
    }

